.root, .grid {
    -fx-background-color: #222222;
    -fx-background-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-color: #444444;
    -fx-border-radius: 3px;
}

.progress-bar {
    -fx-border-color: null;
}

.progress-bar .track {
    /*-fx-border-color: -fx-body-color;*/
    -fx-border-color: #444444;
    -fx-border-radius: 3px;
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 3px;
}

.progress-bar .bar {
    -fx-opacity: 0.75;
    -fx-background-insets: 1px;
    -fx-background-radius: 3px;
    -fx-background-color: -fx-category;
}

/* This is missing from categories.css */
.category-attack {
    -fx-category: #d35400;
}